*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea/


# mediachain specific

# ignore test datasets for translation engine
translation_engine/test-resources/datasets/*
!translation_engine/test-resources/datasets/README.md
