io.mediachain.transactor.rpc.port: 10001
io.mediachain.transactor.rpc.control: /mnt/transactor/ctl/RpcService
io.mediachain.transactor.dynamo.baseTable: {{ dynamo_table }}
io.mediachain.transactor.metrics.enabled: {{ metrics_enable }}
io.mediachain.transactor.metrics.url: {{ metrics_url }}
io.mediachain.transactor.metrics.user: {{ metrics_user }}
io.mediachain.transactor.metrics.pass: {{ metrics_pass }}
io.mediachain.transactor.metrics.db: {{ metrics_db }}
